<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yoyoyo.ca">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:label="@string/activity_message"
            android:name=".ui.ChatActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ContactsActivity"/>
        </activity>

        <activity
            android:label="@string/activity_contacts"
            android:name=".ui.ContactsActivity">

            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ChatActivity"/>
        </activity>

        <activity android:name=".ui.RegisterActivity">

        </activity>

        <activity android:name=".ui.MainActivity">

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>